<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.mapper.BoardMapper">

	<select id="findAll" resultType="com.example.board.dto.BoardDTO">
		SELECT
			b.*,
			(
				SELECT COUNT(*)
				FROM tb_board_like l
				WHERE l.board_idx = b.idx
			) AS likeCnt,
			(
				SELECT COUNT(*)
				FROM tb_board_reply r
				WHERE r.board_idx = b.idx
			) AS replyCnt
		FROM tb_board b
		<where>
			<if test="keyword != null and keyword != ''">
				<choose>
					<when test="searchType == 'title'">
						AND b.title LIKE CONCAT('%', #{keyword}, '%')
					</when>
					<when test="searchType == 'content'">
						AND b.content LIKE CONCAT('%', #{keyword}, '%')
					</when>
					<when test="searchType == 'writer'">
						AND b.writer LIKE CONCAT('%', #{keyword}, '%')
					</when>
				</choose>
			</if>
		</where>

		<choose>
			<when test= "sortType == 'latest'">
				ORDER  BY b.created_at DESC, b.idx DESC
			</when>

			<when test = "sortType == 'oldest'">
				ORDER BY b.created_at ASC, b.idx ASC
			</when>

			<when test = "sortType == 'viewDesc'">
				ORDER BY b.view_cnt DESC, b.created_at DESC, b.idx DESC
			</when>

			<when test = "sortType == 'viewAsc'">
				ORDER BY b.view_cnt ASC, b.created_at DESC, b.idx DESC
			</when>

			<when test = "sortType == 'likeDesc'">
				ORDER BY likeCnt DESC, b.created_at DESC, b.idx DESC
			</when>

			<when test = "sortType == 'likeAsc'">
				ORDER BY likeCnt ASC, b.created_at DESC, b.idx DESC
			</when>

			<when test = "sortType == 'replyDesc'">
				ORDER BY replyCnt Desc,  b.created_at DESC, b.idx DESC
			</when>

			<when test = "sortType == 'replyAsc'">
				ORDER BY replyCnt Asc,  b.created_at DESC, b.idx DESC
			</when>


			<otherwise>
				ORDER BY b.created_at DESC, b.idx DESC
			</otherwise>
		</choose>

		LIMIT #{size} OFFSET #{offset}
	</select>

	<select id="countLike" resultType="int">
		SELECT COUNT(*) FROM tb_board_like
			WHERE board_idx = #{idx}
	</select>

	<select id="existsLike" resultType="int">
		SELECT COUNT(*) FROM tb_board_like
			WHERE board_idx = #{idx}
				AND user_id = #{userId}
	</select>

	<insert id="insertLike">
		INSERT INTO tb_board_like  (board_idx, user_id)
		VALUES (#{idx}, #{userId})
	</insert>

	<delete id="deleteLike">
		DELETE	FROM tb_board_like
			WHERE board_idx = #{idx}
				AND user_id = #{userId}
	</delete>

	<select id="findLikeUsers" resultType="com.example.board.dto.LikeUserDTO">
		SELECT
			m.user_id AS userId,
			m.user_name AS userName
			FROM tb_board_like bl
			INNER JOIN members m
				ON bl.user_id = m.user_id
			WHERE bl.board_idx = #{idx}
			ORDER BY bl.created_at DESC
	</select>

	<select id="countLikeUsers" resultType="int">
		SELECT COUNT(*)
		FROM tb_board_like
		where board_idx = #{idx}
	</select>

	<select id="findLikeUsersPaging" resultType="com.example.board.dto.MemberDTO">
		SELECT
			m.user_id AS userId,
			m.user_name AS userName
		FROM tb_board_like AS bl
		INNER JOIN members m ON bl.user_id = m.user_id
		WHERE bl.board_idx = #{idx}
		ORDER BY bl.created_at DESC
		LIMIT #{size} OFFSET #{offset}
	</select>

	<insert id="save" parameterType="com.example.board.dto.BoardDTO">
			INSERT INTO tb_board (title, content, writer, user_id,  board_pw, view_cnt, created_at, updated_at, board_group_idx)
			Values (#{title}, #{content}, #{writer}, #{userId}, #{boardPw}, 0, NOW(), NOW(), #{boardGroupIdx})
	</insert>


	<select id="findById" parameterType="Long" resultType="com.example.board.dto.BoardDTO">
		SELECT * FROM tb_board WHERE idx = #{idx}
	</select>

	<update id="update" parameterType="com.example.board.dto.BoardDTO">
		UPDATE tb_board
		SET title = #{title},
			content = #{content},
			updated_at = NOW()
		where idx = #{idx}
	</update>

	<delete id="delete" parameterType="Long">
		DELETE FROM tb_board WHERE idx = #{idx}
	</delete>

	<update id="updateViewCnt" parameterType="Long">
		UPDATE tb_board
		SET view_cnt = view_cnt + 1
		WHERE idx = #{idx}
	</update>

	<select id="count" resultType="int">
		SELECT count(*) FROM tb_board
		<where>
			<if test="keyword != null and keyword != ''">
				<choose>
					<when test="searchType == 'title'">
						AND title LIKE CONCAT('%', #{keyword}, '%')
					</when>
					<when test="searchType == 'content'">
						AND content LIKE CONCAT('%', #{keyword}, '%')
					</when>
					<when test="searchType == 'writer'">
						AND writer LIKE CONCAT('%', #{keyword}, '%')
					</when>
				</choose>
			</if>
		</where>
	</select>
</mapper>